.content_date_available {
    white-space: nowrap;
}


.nicEdit-main ol {
    list-style:inside; list-style-type: decimal;
}

.nicEdit-main ul {
    border: none;
    list-style: inside;
    list-style-type: circle;
}

.nicEdit-main ul li {
    display: list-item;
}